<html lang="en-us"><script src="{{cookiecutter.cdn}}pythons.js" type=module id="site" data-python="python{{cookiecutter.PYBUILD}}" data-LINES=42 data-COLUMNS=132 data-os="vtx,snd,gui" async defer>#<!--

print("""
Loading {{cookiecutter.title}} from {{cookiecutter.archive}}.apk
    Pygbag Version : {{cookiecutter.version}}
    Template Version : 0.9.3
    Python  : {{cookiecutter.PYBUILD}}
    CDN URL : {{cookiecutter.cdn}}
    Screen  : {{cookiecutter.width}}x{{cookiecutter.height}}
    Title   : {{cookiecutter.title}}
    Folder  : {{cookiecutter.directory}}
    Authors : {{cookiecutter.authors}}
    SPDX-License-Identifier: {{cookiecutter.spdx}}

""")

import sys
import os
import asyncio
import platform
import json
from pathlib import Path

BACKGROUND_COLOR = "#F3F3F3"



# do not rename
async def custom_site():
    import embed
    platform.document.body.style.background = BACKGROUND_COLOR

    platform.window.transfer.hidden = true
    platform.window.canvas.style.visibility = "visible"


    bundle = "{{cookiecutter.archive}}"

    # the C or js loader could do that but be explicit.
    appdir = Path(f"/data/data/{bundle}") # /data/data/{{cookiecutter.archive}}
    appdir.mkdir()


    # unpack filesystem from compressed archive into work dir
    if platform.window.location.host.find('.itch.zone')>0:
        import zipfile
        async with platform.fopen("{{cookiecutter.archive}}.apk", "rb") as archive:
            with zipfile.ZipFile(archive) as zip_ref:
                zip_ref.extractall(appdir.as_posix())
    else:
        import tarfile
        async with platform.fopen("{{cookiecutter.archive}}.tar.gz", "rb") as archive:
            tar = tarfile.open(fileobj=archive, mode="r:gz")
            tar.extractall(path=appdir.as_posix(), filter='tar')
            tar.close()

    # preloader will change to work dir and prepend it to sys.path
    platform.run_main(PyConfig, loaderhome= appdir / "assets", loadermain=None)


    # wait preloading complete : that includes images and wasm compilation of bundled modules
    while embed.counter()<0:
        await asyncio.sleep(.1)

    main = appdir / "assets" / "main.py"

    # TODO: test for window.webkitAudioContext and block aio loop until gesture if accessing media manager play
    # before a gesture is recorded ( touch or click )

    # test/wait user media interaction
    if not platform.window.MM.UME:

        # now that apk is mounted we have access to font cache
        # but we need to fill __file__ that is not yet set
        __import__(__name__).__file__ = main

        # now make a prompt
        msg  = "Ready to start ! Please click/touch page"
        platform.window.infobox.innerText = msg
        print("\n"*4, f"    * Waiting for media user engagement. {msg} *" , "\n"*4)

        while not platform.window.MM.UME:
            await asyncio.sleep(.1)

    # start async top level machinery if not started and add a console in any case if requested.
    await TopLevel_async_handler.start_toplevel(platform.shell, console=window.python.config.debug)

    # now that apk is mounted we have access to font cache
    # but we need to fill __file__/__name__ that are not yet set
    __import__(__name__).__file__ = main


    def ui_callback(pkg):
        platform.window.infobox.innerText = f"installing {pkg}"

    await shell.source(main, callback=ui_callback)

    # if you don't reach that step
    # your main.py has an infinite sync loop somewhere !

    platform.window.infobox.style.display = "none"
    platform.window.config.gui_divider = 1
    platform.window.window_resize()
    print("default.tmpl: done")

    shell.interactive()

asyncio.run( custom_site() )












# BEGIN BLOCK
#
# now this is the html part you can (and should) customize
# It is not mandatory : pygame-script when it reads the first line (also called
# shebang ) of above code create absolute minimal widget set
# required for running with default rules
#
# do not alter that comment block it is separating python code from html code
# =============================================================================
# --></script><head><!--
//=============================================================================
//
//
//
//
//
//
//

    {%- if cookiecutter.comment != "" -%}
{{cookiecutter.comment}}
    {% endif %}

--><script type="application/javascript">
// END BLOCK



// this dict is available under PyConfig.config from __main__

config = {
    xtermjs : "{{cookiecutter.xtermjs}}" ,
    _sdl2 : "canvas",
    user_canvas : 0,
    user_canvas_managed : 1,
    gui_divider : 2,
    ume_block : {{cookiecutter.ume_block}},
    can_close : {{cookiecutter.can_close}},
    archive : "{{cookiecutter.archive}}",
    gui_debug : 2,
    cdn : "{{cookiecutter.cdn}}",
    autorun : {{cookiecutter.autorun}},
    PYBUILD : "{{cookiecutter.PYBUILD}}",
    fb_ar   :  1.77,
    fb_width : "200",
    fb_height : "200"
}

function show_infobox() {
    infobox.style.display = "block";

    // Measure box
    const w = infobox.offsetWidth;
    const h = infobox.offsetHeight;

    // Center in viewport
    const left = (window.innerWidth - w) / 2;
    const top = (window.innerHeight - h) / 2;

    infobox.style.left = left + "px";
    infobox.style.top = top + "px";
}

</script>

    <title>{{cookiecutter.title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>


    <link rel="icon" type="image/png" href="favicon.png" sizes="16x16">

    <style>
        #status {
            display: contents;
            vertical-align: top;
            margin-top: 20px;
            margin-left: 30px;
            font-weight: bold;
            color: rgb(0, 0, 0);
            visibility: hidden;
        }

        #progress {
            position: static;
            height: 100px;
            width: 500px;
            visibility: hidden;
        }

        #infobox {
            position: absolute;
            z-index: 999999;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            text-align: center;
            font-size: 48px;
            background: #00A8E8;
            color: #00171F;
            font-weight: bold;
            padding: 12px 24px;
        }

        #topInfo {
            
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 2%;
            margin-bottom: 2%;
            padding: 2%;
            background-color: #00A8E8;
            border-style: solid;
            box-sizing: border-box;
            border-radius: 25px;
            border-width: 2px;
            justify-content: center;
        }

        
        #gameArea {
            width: 100%;
            height: 100%;
            background-color: #00A8E8;
            position: relative;
            overflow: hidden;
        }

        .topInfoText {
            text-align:center;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16pt;
            font-weight: 700;
            color: #00171F;
        }

        .maintainAspectRatio {
            width: 50vw;
            max-width: 720px;
            aspect-ratio: 720 / 900;
            margin: 0 auto; 
            overflow: hidden;
            position: relative;
        }


        div.emscripten { text-align: center; }

        /* the canvas *must not* have any border or padding, or mouse coords will be wrong */
        /* average size of droid screen 470dp x 320dp  */
        canvas.emscripten {
            width: 100% !important;
            height: 100% !important;

            display: block;
            border: 0;
            background-color: transparent;

            position: absolute !important;
            top: 0;
            left: 0;

            margin: 0;
            padding: 0;
            z-index: 5;
        }

    </style>

    <script src="{{cookiecutter.cdn}}/browserfs.min.js"></script>

</head>

<body>

    <div id = "topInfo">
        <p class ="topInfoText">This is a game I made in python using the pygame library. It combines an idle-clicker game with a 2D sidescroller game. I used the pygbag python library to run the python code in the browser. The goal of the game is to beat all the levels in the 'Mine', which need to be unlocked by earning enough money in the 'Store'.  
        </p>
        <p class ="topInfoText">The expected playtime of the game is </p>
        <p class ="topInfoText">~15 minutes for 50% completion,</p> 
        <p class ="topInfoText">~45 minutes for 100% completion.</p>
        <p class ="topInfoText">Thanks for checking it out!<p>
        
        
    </div>

    <div class="maintainAspectRatio">
        <div id="gameArea">        
            <div id="infobox">Loading, please wait ...</div>
            <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" tabindex="1"></canvas>
        </div>
    </div>

    <script>
        window.addEventListener('beforeunload', function (event) {
          event.stopImmediatePropagation();
        })
   </script>

</body>
</html>
